@keyframes flash-wrong {
    50%  { background-color: rgb(248, 63, 63); }
};

@keyframes flash-done {
    50%  { background-color: rgb(142, 174, 211); }
    to   { background-color: rgb(246, 246, 251); }
};

table {
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;

    $border: 3px solid rgb(122, 122, 122);

    td {
        padding: 0;
        margin: 0;
    }

    tbody tr {
        td:nth-child(2) {
            border-left: $border;
        }
        td:last-child {
            border-right: $border;
        }
        &:last-child td {
            border-bottom: $border;
        }
        &:first-child td {
            border-top: $border;
        }

        .field-cell {
            border: 2px solid rgb(255, 255, 255);
            border-radius: 15%;
            background-color: rgb(228, 228, 228);
            width: 64px;
            height: 64px;
            transition: background-color 0.05s ease-in-out;

            &.marked {
                background-color: rgb(22, 22, 22);
            }

            &.unmarked div {
                font-size: 45px;
            }

            &.wrong {
                animation: flash-wrong 0.5s ease-out;
            }

            div {
                user-select: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                font-size: 0px;
                transform: translateY(-.14em);
                pointer-events: none;
                transition: font-size 0.05s ease-out;
            }
        }
    }

    .segment {
        align-items: center;
        background-color: rgb(223, 223, 255);
        border-radius: 10px;
        margin: 1px 0px;
        display: flex;
        justify-content: flex-end;
        padding: 0px 4px;
        height: 64px;
        width: 6.5em;
        transition: all 0.5s;
        box-shadow: .5px .5px 2px -5px rgb(187, 187, 187);
        outline-color: rgb(220, 220, 221);

        &.completed {
            outline-style: solid;
            outline-width: 1px;
            // background-color: rgb(246, 246, 251);
            box-shadow: .5px .5px 2px 0px rgb(187, 187, 187);
            animation: flash-done 0.5s ease forwards;
        }

        .segment-number {
            font-size: 25px;
            line-height: 1.4em;
            width: 0.9em;

            &.completed {
                color: rgb(122, 122, 122);
            }
        }
    }

    thead .segment {
        width: inherit;
        height: 6.5em;
        margin: 0px 1px;
        margin-bottom: 3px;
        flex-direction: column;
        padding: 4px 0px;
    }
}

.health {
    margin-bottom: 20px;
    font-size: 35px;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 2px;
    .heart {
        display: inline-block;
    }
}